@charset "utf-8";

.load-object,
.load-object::before,
.load-object::after {
  width: 16px;
  height: 84px;
  background: #fff;
  animation: loading 1s 8 ease-in-out;
  -webkit-animation: loading 1s 8 ease-in-out;
}

.load-object {
  margin: 0 auto;
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
  position: relative;
}

.load-object::before,
.load-object::after {
  content: "";
  position: absolute;
  top: 0;
}

.load-object::before {
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
  left: -24px;
}

.load-object::after {
  left: 24px;
}

@-webkit-keyframes loading {  
  0%,
  80%,
  100% {
    height: 84px;
    box-shadow: 0 0;
  }
  40% {
    height: 80px;
    box-shadow: 0 -32px ;
  }
}

@keyframes loading {
  0%,
  80%,
  100% {
    height: 64px; /* 0%,80%,100%で高さが64pxになる */
    box-shadow: 0 0;
  }
  40% {
    height: 80px; /* 40%で高さが下に16px伸びる */
    box-shadow: 0 -32px; /* 影で上にも伸び縮みしているように見せる */
  }
}

#load-animation {
  width: 100%;
  height: 100%;
  background: #0dc5c1;
  align-items: center;
  transition: all .3s;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

nav ul {
  background: #000;
  display: flex;
  justify-content: space-around;
}

nav ul li {
 padding: 20px 70px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#top {
  height: 600px;
  position: relative;
  margin-bottom: 30px;
  background: url(../img/top.png);
  z-index: 20;
}

.top_wrap h1 {
  font-size: 60px;
  color: #fff;
  padding: 25px 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 52%;
  right: 5%;
  z-index: 20;
  float: right;
}

.slideShow {
  position: relative;
  z-index: 2;
}

.slide {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* スライドショーの矢印のスタイル */
.slick_prev,
.slick_next {
  width: 25px;
  height: 25px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  z-index: 5;
}

/* 左向き矢印のスタイル */
.slick_prev {
  left: 2.5%;
  transform: rotate(-135deg);
}

/* 右向き矢印のスタイル */
.slick_next {
  right: 2.5%;
  transform: rotate(45deg);
}

/* スライドショー下のドットのスタイル */
.slick-dots {
  margin: -80px 0 0 0;
  text-align: center;
  position: relative;
  z-index: 5;
}

.slick-dots li {
  margin: 0 5px;
  display: inline-block;
}

.slick-dots button {
  color: transparent;
  background: #fff;
  border-radius: 50%;
  outline: none;
  display: block;
}

.slick-dots .slick-active button {
  background: #fff;
}


#service {
  display: block;
  width: 80%;
  
  bottom: 1800px;
  margin: 100px auto;
  z-index: 3;
}

.service_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_title {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.service_left img {
  width: 80%;
  height: auto;
}

.service_right h3 {
  font-size: 20px;
  padding: 20px 0; 
}

.service_right p {
  font-size: 15px;
  color: #555;
}

#news {
  width: 80%;
  margin: 100px auto;
}

.news_wrap {
  max-width: 450px;
  margin: 0 auto;
}

.news_wrap p {
  line-height: 2.5;
}

#price {
  width: 80%;
  margin: 100px auto;
}

.price_wrap table {
  width: 100%;
  border: #000 10px double;
  text-align: center;
}

.price_wrap th {
  border: #000 2px solid;
  padding: 10px; 
}

.price_wrap td {
  border: #000 2px solid;
  padding: 10px; 
}

#contact {
  background: rgb(244, 244, 244);
}
#contact h1 {
  padding: 40px 0;
}

.form {
  width: 70%;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 30%;
  line-height: 2;
}

input,
textarea {
  width: 65%;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input {
  padding: 6px;
}

textarea {
  height: 200px;
  vertical-align: top;
}

.button {
  text-align: center;
}

.button_submit {
  padding: 10px 50px;
  background-color: #555;
  margin: 50px 0;
  font-weight: bold;
  border: none;
  color: #fff;
}

#footer {
  padding: 50px;
  background: #444;
  text-align: center;
  color: #fff;
}

/* fadeUp */
.fadeUp {
  animation: fadeUpAnime 0.8s forwards; /* fadeUpAnimeを0.8秒で一回実行 */
  opacity: 0;
}

/* fadeLeft */
.fadeLeft {
  animation: fadeLeftAnime 0.8s forwards; /* fadeLeftAnimeを0.8秒で一回実行 */
  opacity: 0;
  overflow: hidden;
}

/* fadeRight */
.fadeRight {
  animation: fadeRightAnime 0.8s forwards; /* fadeRightAnimeを0.8秒で一回実行 */
  opacity: 0;
  overflow: hidden;
}

.fadeUpTrigger, .fadeLeftTrigger, .fadeRightTrigger {
  opacity: 0; /* 初めは見えないようにしておく */
}

@keyframes fadeUpAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateY(100px); /* 100px下に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateY(0); /* 元の位置に戻す */
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateX(100px);/* 100px右に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateX(0); /* 元の位置に戻す */
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0; /* 初めは見えないようにしておく */
    transform: translateX(-100px);/* 100px左に動かしておく */
  }

  to {
    opacity: 1; /* 可視化する */
    transform: translateX(0); /* 元の位置に戻す */
  }
}